# Ignore node_modules in all subfolders (frontend, backend)
**/node_modules/

# Ignore build/dist folders (frontend build or backend compiled files)
**/build/
**/dist/

# Ignore environment variable files (both frontend and backend)
**/.env
**/.env.local

# Logs
logs/
*.log
npm-debug.log*

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
